---

---

<section id="ABOUT-SECTION" class="bg-test1 mx-1">
  <div id="about-padding" class="">
    <h1 id="about-title" class="2xl:text-4xl text-3xl bg-">
      About Laughing Coyote Dev
    </h1>

    <img
      src="https://dl.dropboxusercontent.com/scl/fi/36vnm2e663uln6akmex4d/lc.png?rlkey=lgim54nbp0u11mviylee29hyj&st=1nuybim1&dl=0"
      alt=""
      class="border border-gray-300 my-2"
    />
    <section class="py-5 bg-" id="PRODUCT DEFINITION">
      <h2 class="pt-5">PRODUCT DEFINITION</h2>
      <p class="">
        CREATE LONGER VERSION:::: a digital creative studio where clients'
        visions (userstories??) are translated into vivid, handcrafted websites.
      </p>
      <p>
        Most web design services focus on tech, speed, or business optimization.
        Few lean into artisanal design, emotional storytelling, and cozy
        aesthetics the way this concept (lc) does.
      </p>
    </section>
    <section class="py-3 bg-" id="TARGET AUDIENCE">
      <h2>TARGET AUDIENCE</h2>
      <p>The people I'm looking to serve...</p>
      <p class="bg-">
        Unique Selling Point: You're not just designing websites—you’re
        co-creating digital homes for passionate people. You get their creative
        process because you share it.
      </p>
    </section>
  </div>
</section>
