---
import CustomDigitalArtistry from "../../components/tests/CustomDigitalArtistry.astro";
---

<section id="MAIN-GOALS-SECTION" class="bg-test2">
  <div class="border border-black" id="MAIN GOAL OF SITE">
    <h2>MAIN GOAL OF SITE"</h2>
    <CustomDigitalArtistry />
  </div>
</section>
