---

---

<div id="contact" class="2xl:mt-5 2xl:pt-5 2xl:pb-5">
  <div id="contact-form-container" class="my-5 pt-5">
    <div id="grid" class="flex flex-col bg-">
      <div id="sq1" class="bg-test pl-1 pt-5">
        <p class="pt-1 text-xl font-semibold">
          You can contact me by emailing:<span class="">
            <a
              class="underline rounded text-cerulean hover:opacity-80"
              href="mailto:elsahovey@gmail.com">elsahvy@gmail.com</a
            >
          </span>
        </p>
        <p class="bg-test bg- pl-1 pt-1 opacity-85 pr-5">
          I am always looking for opportunities to further my skills... and work
          with other like minded people in tech. If you would like to contact
          me, you can also find me at <i>sm </i>and <i>sm </i>
        </p>
      </div>
      <div id="sq2" class=""></div>
    </div>
  </div>
</div>
