---
import MenuItems from "../MenuItems";
---

<div
  id="left-side-wrapper"
  class="border-r border-black p-5 bg- md:h-screen h-full md:absolute relative md:left-0 sm:bottom-0 md:w-1/5 w-full overflow-y-scroll overflow-x-hidden"
>
  <div id="logo" class="2xl:text-8xl text-7xl pb-1">
    <a href="/"> EH</a>
  </div>
  <ul
    class="2xl:text-2xl text-xl 2xl:pl-3 2xl:px-3 py-3 mt-5 border-black border-t-2 border-b-2"
  >
    <MenuItems />
  </ul>
</div>
