---
import MenuItems from "../MenuItems";
---

<div
  id="left-side-wrapper"
  class="bg- border-r border-black lg:p-5 p-3 bg- md:h-screen h-full md:absolute relative md:left-0 sm:bottom-0 md:w-1/5 w-full overflow-y-scroll overflow-x-hidden"
>
  <div id="logo" class="mt-5 2xl:text-8xl lg:text-7xl text-6xl pb-1">
    <a href="/"> EH</a>
  </div>
  <ul
    class="2xl:text-2xl lg:text-xl text-md 2xl:pl-3 2xl:px-3 py-3 mt-5 border-black border-t-2 border-b-2"
  >
    <MenuItems />
  </ul>
  <div id="img-wrapper" class="mt-5 pt-5">
    <img
      src="https://elsahovey.com/_astro/eh-img.BW9mBPY5_5k3C0.webp"
      alt=""
      class="2xl:w-3/4 mt-2 pr-5 pl-2"
    />
  </div>
  <a href="/#contact">Contact cta</a>
</div>
