---
import MainLayout from "../layouts/MainLayout.astro";
import TestMarkdownHeader from "../components/tests/TestMarkdownHeader.astro";
import AboutSection from "../components/lc-tests/AboutSection.astro";
import MainGoals from "../components/lc-tests/MainGoals.astro";
import KeyFeatures from "../components/lc-tests/KeyFeatures.astro";
import WebsitesGrid from "../components/lc-tests/WebsitesGrid.astro";
---

<MainLayout>
  <TestMarkdownHeader />
  <div
    id="right-side-markdown-wrapper"
    class="text-carribean flex justify-center bg- border-l border-onyx md:h-screen h-full md:absolute relative right-0 md:w-4/5 overflow-y-scroll overflow-x-hidden 2xl:p-5 md:p-3 md:ml-[50px] pl-[50px]"
  >
    <div id="right-side-markdown-container" class="p-5 ml-[50px] mr-[150px]">
      <AboutSection />
      <MainGoals />
      <KeyFeatures />
      <WebsitesGrid />
    </div>
  </div>
</MainLayout>
