---
import MenuItems from "./MenuItems";
---

<header>
  <nav class="bg-">
    <div id="logo" class="lg:text-8xl text-7xl pb-1">
      <a href="/"> Elsa Hovey</a>
    </div>
    <ul class="text-2xl pl-3 px-3 py-3 mt-5 border-black border-t-2 border-b-2">
      <MenuItems />
    </ul>
  </nav>
</header>
