---
import { FaLinkedinIn, FaGithub } from "react-icons/fa";
import { MdOutlineEmail } from "react-icons/md";


---

<header class="">
  <div id="logo" class="text-black-400 lg:text-9xl text-5xl pb-1 text-onyx opacity-90">
    <a href="/"> Elsa <br /> Hovey</a>
  </div>
  <div id="icons-container" class=" border-t border-b border-black py-1 mt-2 ml-1 w-[110px]">
    <ul class="flex space-x-2 text-2xl pt- pl-2 opacity-90 ">
      <li class="opacity-100 "><MdOutlineEmail /></li>
      <li class="opacity-90"><FaGithub /></li>
      <li class="opacity-80"><FaLinkedinIn /></li>
    </ul>
  </div>
</header>
