---
import { IoArrowBack } from "react-icons/io5";
---

<div id="back-btn-wrapper">
  <button id="back-btn" class="text-aquamarine text-3xl my-5">
    <a href="/"><IoArrowBack /></a>
  </button>
</div>
